In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
dataset = [1,12,22,17,9,5,7,18,13]

In [3]:
Q1 = np.percentile(dataset,30)

In [4]:
Q1

7.8

In [5]:
Q2 = np.percentile(dataset,60)

In [6]:
Q2

12.8

In [7]:
Q3 = np.percentile(dataset,90)

In [8]:
Q3

18.8

In [12]:
df = pd.read_excel('insurance.xlsx')

In [14]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
df.shape

(1338, 7)

In [16]:
df.isnull().sum()

age         0
gender      0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [17]:
df.columns

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [18]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

# Normalization

In [19]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler(feature_range=(0,1))

In [21]:
df1.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [24]:
df1['age'] = mm.fit_transform(df1[["age"]])

In [25]:
df1.head()

        age  gender     bmi  children smoker     region      charges
0  0.021739  female  27.900         0    yes  southwest  16884.92400
1  0.000000    male  33.770         1     no  southeast   1725.55230
2  0.217391    male  33.000         3     no  southeast   4449.46200
3  0.326087    male  22.705         0     no  northwest  21984.47061
4  0.304348    male  28.880         0     no  northwest   3866.85520

In [27]:
df1['bmi'] = mm.fit_transform(df1[["bmi"]])

In [28]:
df1['charges'] = mm.fit_transform(df1[["charges"]])

In [29]:
df1.head()

        age  gender       bmi  children smoker     region   charges
0  0.021739  female  0.321227         0    yes  southwest  0.251611
1  0.000000    male  0.479150         1     no  southeast  0.009636
2  0.217391    male  0.458434         3     no  southeast  0.053115
3  0.326087    male  0.181464         0     no  northwest  0.333010
4  0.304348    male  0.347592         0     no  northwest  0.043816

# Standardization

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
ss = StandardScaler()

In [32]:
df2.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [50]:
df2['bmi'] = ss.fit_transform(df2[['bmi']])

In [51]:
df2.head()

        age  gender       bmi  children smoker     region   charges
0 -1.438764  female -0.453320         0    yes  southwest  0.298584
1 -1.509965    male  0.509621         1     no  southeast -0.953689
2 -0.797954    male  0.383307         3     no  southeast -0.728675
3 -0.441948    male -1.305531         0     no  northwest  0.719843
4 -0.513149    male -0.292556         0     no  northwest -0.776802

In [52]:
df2['charges'] = ss.fit_transform(df2[['charges']])

In [53]:
df2.head()

        age  gender       bmi  children smoker     region   charges
0 -1.438764  female -0.453320         0    yes  southwest  0.298584
1 -1.509965    male  0.509621         1     no  southeast -0.953689
2 -0.797954    male  0.383307         3     no  southeast -0.728675
3 -0.441948    male -1.305531         0     no  northwest  0.719843
4 -0.513149    male -0.292556         0     no  northwest -0.776802

# Robust Scaler

In [54]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [55]:
df3.head()

   age  gender       bmi  children smoker     region      charges
0   19  female -0.297708      -0.5    yes  southwest  16884.92400
1   18    male  0.401310       0.0     no  southeast   1725.55230
2   28    male  0.309616       1.0     no  southeast   4449.46200
3   33    male -0.916344      -0.5     no  northwest  21984.47061
4   32    male -0.181006      -0.5     no  northwest   3866.85520

In [56]:
df3['bmi'] = rs.fit_transform(df2[['bmi']])

In [57]:
df3.head()

   age  gender       bmi  children smoker     region      charges
0   19  female -0.297708      -0.5    yes  southwest  16884.92400
1   18    male  0.401310       0.0     no  southeast   1725.55230
2   28    male  0.309616       1.0     no  southeast   4449.46200
3   33    male -0.916344      -0.5     no  northwest  21984.47061
4   32    male -0.181006      -0.5     no  northwest   3866.85520

# Max Absulute Scaler

In [58]:
from sklearn.preprocessing import MaxAbsScaler

In [59]:
mb = MaxAbsScaler()

In [60]:
df4.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520